
body {
  padding-top: 65px;
}
  
.navbar {
  background-color: rgb(243, 230, 53);
}
  
.navbar a {
  color :#000;
}
  
.navbar .nav-item.active {
  font-weight: bold;
}
  
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 253, 216)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: #000;
}
  
.link-add-cart {
  font-size: 0.8em;
  font-family: 'Lato';
  font-weight: bold;
  background-color : rgb(111, 180, 253);
  border-radius: 5px;
  padding: 5px;
  float: right;
  color: white;
}
  
.link-add-cart:hover{
  opacity:0.50 ;
  text-decoration: none;
  
}

.container-main {
  min-height: calc(100vh - 185px);
    /* pourquoi 185px : 65 de margin-top du body, + 120 de hauteur du footer */
}

  
.badge-category {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: 'Chelsea Market';
}
  
.badge-animaux {
  background-color: #03A652;
  color: white;
}

.badge-divers {
  background-color: #FF7F50;
  color: white;
}
  
.badge-célébrités,
.badge-celebrites {
  background-color: #5BC4BF;
  color: white;
}
  
.badge-spéciaux,
.badge-speciaux {
  background-color: #FD6C9E;
  color: white;
}
  
.img-cart-list {
  max-width: 100px;
}

.card-title,
.navbar-brand, 
.nav-link,
h1,
.h5, 
h5,
h3,
label {
  font-family: 'Chelsea Market';
}


.card-text,
:placeholder-shown,
button {
  font-family: 'Lato', 'sans serif';
}

.list-group-item {
  font-family: 'Lato', 'sans serif';
  font-size: bold;
}

.img-article {
  width: 80%;
  margin:1em;
}
  
table.table tbody tr td {
  vertical-align: middle;
}
  
.item-description {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
  
  
.cart-input {
  max-width: 100px;
}
  
.item-subtotal {
  font-weight: bold;
}
  
.row-total {
  font-size: 1.3em;
  font-weight: bolder;
}
  
    
.review-author {
  font-size: 0.8em;
  font-style: italic;
  margin-left: 15px;
}

  /* Modal breakpoint is awful in bootstrap */
  @media (min-width: 576px) {
    .modal-dialog {
      width: 80%;
      max-width: unset;
    }
  }