<!-- Header -->
<%- include('partials/header')%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="my-4">Nous contacter</h1>
</div>

<div class="row" style="height: 700px;">    
    <div class="offset-3">
        <form action="" method="POST" class="form-signup form-row">
            <div class="form-label-group col-md-4">
                <label for="firstname">Prénom</label>
                <input type="firstname" class="form-control" id="firstname" name="firstname"
                    required placeholder="Chuck">
            </div>
            <div class="form-label-group col-md-4">
                <label for="lastname">Nom</label>
                <input type="lastname" class="form-control" id="lastname" name="lastname"
                    required placeholder="Norris">
            </div>
            <div class="form-label-group col-md-8">
                <label for="email">Adresse e-mail</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                    required placeholder="chuck@norris.com">
            </div>
            <div class="form-label-group col-md-8" style="margin-bottom:1em;" >
                <label for="message">Message</label>
                <textarea required class="form-control" id="text" rows="3"></textarea>
            </div>
            <div class="col-sm-10">
            <button class="btn btn-primary" type="submit">Envoyer</button></div>
        </form>
    </div>
</div>

<!-- Footer -->
<%- include('partials/footer')%>